.ad-container{
    margin: 10px 4%;
    min-height: 50vh;
}
.ad-container h1{
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    font-style: bolder;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: justify;
}
.card-container img{
    width: 70px;
    display: block;
    margin: 10px auto;
}
.card-container h3{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    opacity: 0.9;
}
.card-container p{
    opacity: 0.7;
}
@media screen and (max-width: 750px){
    
    .ad-container h1{
        font-size: 2rem;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-container h3{
        font-size: 22px;
    }
    .card-container p{
        font-size: 18px;
    }
}