.nav-container{
 background-color: #4A70A9;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-top ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 8px 15px;
}
.nav-top ul li img{
    width: 17px;
}
.nav-bottom{
    background-color: #0C2B4E;
    padding: 10px 4%;

}
.nav-bottom, .nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links ul{
    gap: 15px;
}
.nav-links a{
    color: white;
    position: relative;
}
.nav-links a::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(135deg, #D92C54, #932F67);
    content: "";
    transition: width 0.3s ease-in-out;
}
.nav-links a:hover::after{
    width: 100%;
}
.logo{
    width: 45px;
    cursor: pointer;
}
.hamburger{
    display: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
@media screen and (max-width: 750px){
    .hamburger{
        display: block;
    }
    .nav-links{
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #0C2B4E;
        padding: 0 15px;
        width: 200px;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .nav-links ul{
        align-items: flex-start;
        flex-direction: column;
    }
    .nav-links.active{
        z-index: 1;
        max-height: 300px;
        padding: 15px;
    }
    .logo{
        width: 35px;
    }
}
