.contact-container{
    margin: 0 4%;
    padding: 20px;
    margin-bottom: 10%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contact-container p{
    width: 65%;
    text-align: center;
    font-size: 1.3em;
    color: #555;
}
.contact-container h2{
    margin: 10px 0;
    font-size: 2em;
    font-weight: 600;
}
.box-container{
   display: flex;
   align-items: center;
   gap: max(12vw,20px);
}
.contact-form-container{
    width: 450px;
    box-shadow: 0 0 10px 0 #555;
    padding: 20px;
    border-radius: 5px;
    margin-top: 15px;
}
.contact-form-container button{
    border: 0;
    outline: 0;
    padding: 10px 25px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.contact-form-container input,.contact-form-container textarea{
    padding: 10px 5px;
    flex: 1;
    resize: vertical;
    font-size: 15px;
    border: 1px solid #5555;
    border-radius: 5px;
}
.contact-form-container .form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.address-container{
    width: 450px;
    box-shadow: 0 0 10px 0 #555;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-us-group{
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact-us-group img{
    width: 25px;
}
@media screen and (max-width:750px){
    .contact-container p{
        width: fit-content;
    }
    .box-container{
        flex-direction: column;
    }
    .contact-form-container, .address-container{
        width: 320px;
        padding: 15px;
    }

    .contact-us-group img{
    width: 22px;
    }
    /* .contact-form-container .form-group label{
        display: none;
    } */
}