*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Nunito Sans";
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  display: none;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
