.content-container{
    margin: 2% 4%;
    border-radius: 5px;
    padding:20px;
    margin-bottom: 10%;
    box-shadow: 0 10px 10px #2222;
}
.content-container h2{
    font-weight: 600;
    font-size: 1.7em;
}
.content-container p{
    font-size: 1.1em;
    opacity: 0.7;
}
