.contact-container{
    margin: 0 4%;
    box-shadow: 0 2px 10px darkgrey;
    padding: 20px;
    margin-bottom: 10%;
    margin-top: 20px;
    border-radius: 5px;
}
.contact-container h2{
    text-align: center;
    margin: 10px 0;
    font-size: 1.7em;
    font-weight: 600;
}
.box-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
}
.contact-form-container button{
    border: 0;
    outline: 0;
    padding: 10px 25px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.contact-form-container input,.contact-form-container textarea{
    padding: 10px 5px;
    flex: 1;
    resize: vertical;
    font-size: 0.9em;
}
.contact-form-container .form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.contact-form-container .form-group label{
    width: 100px;
}
.contact-us-group{
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact-us-group img{
    width: 25px;
}
@media screen and (max-width:750px){
    .box-container{
        display: flex;
        flex-direction: column;
    }

    .contact-us-group img{
    width: 22px;
    }
    .contact-form-container .form-group label{
        display: none;
    }
}