.image-container{
   background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../../images/bus4.jpeg);
   background-size: cover;
   background-position: center;
   height: 60vh;
   position: relative;
}
.hero-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.hero-content h1{
    color: white;
    font-size: 5em;
    font-weight: 500;
    text-align: center;
}
.form-container{
    width: 600px;
    background: linear-gradient(135deg,#D92C54,#932F67);
    padding: 20px;
    border-radius: 10px;
}
.form-container h2{
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
}
.form-container form{
    display: flex;
    width: 100%;
}
.form-container form select, .form-container form button{
    flex: 1;
    border: 1px solid #2222;
    outline: 0;
    padding: 10px;
    cursor: pointer;
}
.form-container form button{
    background: orangered;
    color: white;
    font-size: 18px;
}

@media screen  and (max-width: 750px){
    .hero-content h1{
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .form-container{
        width: 250px;
    }
    .hero-content{
        top: 20%;
    }
    .form-container form{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .image-container{
        height: 80vh;
    }
}