.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 25px;
  width: 90%;
  max-width: 420px;
  border-radius: 12px;
  position: relative;
}

.close {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
}

.form-toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-toggle button {
  flex: 1;
  padding: 8px;
  background: #ddd;
  border: none;
  cursor: pointer;
}

.form-toggle .active {
  background: #333;
  color: white;
}
.modal-login-form .form-group, .modal-registration-form .form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.modal-login-form .form-group label, .modal-registration-form .form-group label{
    width: 70px;
}
.modal-login-form .form-group input, .modal-registration-form .form-group input{
    flex: 1;
    padding: 10px;
    font-size: 0.9em;
}
.modal-login-form button, .modal-registration-form button{
    display: block;
    margin: 10px auto ;
    border: 0;
    outline: 0;
    font-size: 0.9em;
    padding: 10px 15px;
    background-color: #333;
    color: #ddd;
    border-radius: 5px;
    cursor: pointer;
}